body
{
	font-family: Helvetica, Arial, sans-serif;
}

#playTable
{
	border-collapse:none;
	border-spacing:0px;
	margin:5px 15px;
	/*
	width:700px;
	height:700px;
	*/
}
.playerNamePlate
{
	position:fixed;
	display:none;
}

#titleArea
{
	grid-area:titleArea;
	display:grid-item;	
}
#playTable tr td
{
	/*
	border:1px solid black;
	*/
	width:5px;
	height:3px;
}
#playArea
{
	display:grid-item;
	grid-area:gameArea;
    align-self: center;
    justify-self: center;

}
#sourceImage
{
	display:none;
}
#canvas
{
	display:none;
}
#gameArea
{
	border:2px solid grey;
	background:#888;
	margin:0 auto;
	width:100%;
	text-align:center;
	grid-template-areas:'gameArea titleArea' 'gameArea scoreBoard' 'gameArea eventArea';
	grid-template-columns: auto 400px; 
	grid-template-rows: 100px 200px calc(100% - 320px);
	display:grid;	
	
}

#controlBoard
{
	grid-area:scoreBoard;
	display:grid-item;
	width:100%;
}
.scoreBoardList
{
	width:100%;
	border-spacing: 0px;

}
.scorePoints
{
 	text-align: left;
	font-size:20px;
	font-weight:600;
	width:50%;
	padding-left:10px;
}
.highScore
{
	color:#e0e01a
}
.highScore
{
	color:#b6b6b6
}
.scoreName
{
	text-align: right;
	font-size:20px;
	font-weight:600;
	width:50%;
	padding-right:10px;
}

.gameTimer
{
	font-size: 32px;
	text-align:center;
}

#eventLog
{
	vertical-align: top;
	grid-area:eventArea;
	display:grid-item;
	text-align:left;
	width:400px;
	max-height:400px;
	overflow-y: auto;
}
#eventLog div
{
	border: 2px solid black;
	padding:7px;
	size:16px;
}
#buttonArea
{
	margin:10px auto;
	width:170px;	
}
.isTree
{
	background:#00FF00;
}
.isNut
{
	background:#FFFF00;
}
.isBush
{
	background:#804C19;
}
.isWater
{
	background:#00FFFF;
}
.isGrass
{
	background:#94BD5E;
}
.isNest
{
	background:#FF3366;
}
.isSquirrel
{
	background:#000000;
}
